<h4>Word: <%= @word.val %></h4>

<h3>Definition(s)</h3>

  <% if @word.fin %>
    <ul>
      <% @word.fin.each.any? do |x| %>
        <li><a href="/words/<%= @word.id %>/definitions/<%= x.id %>"><%= x.val %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no definitions listed for this word yet.</p>
  <% end %>

<h4>Add a definition:</h4>

<form action="/words/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <label for="defs_name">Type Here</label>
    <input id="defs_name" name="defs_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add definition</button>
</form>

<p><a href="/words/<%= @word.id %>/edit">Edit word</a></p>
<p><a href="/words">Return to word list</a></p>